*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #162542;
}

h1 span {
  display: block;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #162542;
  text-transform: uppercase;
}

h2 span {
  display: block;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
}

h3 span {
  display: block;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #7b8bad;
}

em {
  font-weight: 700;
  font-style: normal;
}

.btn-primary {
  background-color: #f16718;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  padding: 11px 14px;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}

.btn-primary:hover {
  background-color: #ff9b62;
}

.btn-secondary {
  background-color: #e8eff2;
  color: #162542;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  padding: 11px 14px;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}

.btn-secondary:hover {
  background-color: #162542;
  color: #ffffff;
}

.release {
  text-transform: uppercase;
  font-weight: 700;
}

.card-icon {
  background-color: #f16718;
  display: flex;
  height: 65px;
  width: 65px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 24px;
}

/* Layout */
.wrapper {
  overflow: hidden;
}

header {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 24px 64px 24px;
}

#hero-container {
  margin-bottom: 24px;
}

.hero-text {
  display: grid;
  gap: 32px;
  padding: 0 24px;
}

.hero-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.hero-image {
  display: block;
  width: 100%;
  border-radius: 20px;
  margin-left: 24px;
  object-fit: cover;
  object-position: center;
}

.intro-images {
  display: grid;
  grid-template-columns: auto auto;
  height: 193px;
  gap: 2px;
  margin-right: 24px;
}

.image-overlay {
  position: relative;
  display: inline-block;
}

.image-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: -22px;
  border-radius: 20px;
  background-color: #f16718;
  mix-blend-mode: multiply;
  opacity: 0.9;
  pointer-events: none;
}

.intro-image-1 {
  display: block;
  width: 100%;
  height: 193px;
  border-radius: 20px;
  margin-left: -22px;
  object-fit: cover;
  object-position: center;
}

.intro-image-2 {
  display: block;
  width: 100%;
  height: 193px;
  border-radius: 20px;
  object-position: center;
  object-position: cover;
}

.intro-text {
  display: grid;
  gap: 24px;
  padding: 0 24px;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 111px;
}

#card-container {
  padding: 0 24px;
  display: grid;
  gap: 64px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

footer {
  text-align: center;
  padding: 96px 0 50px 0;
}

@media (min-width: 768px) {
  .btn-primary,
  .btn-secondary {
    padding: 16px 26px;
  }

  .wrapper {
    overflow: hidden;
  }

  header {
    padding: 40px 40px 62px 40px;
  }

  #hero-container {
    margin-bottom: 40px;
    display: grid;
    gap: 70px;
    grid-template-columns: 340px auto;
  }

  .hero-text {
    display: grid;
    gap: 32px;
    width: 340px;
    padding: 0 0;
    margin-left: 40px;
  }

  .hero-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }

  .hero-image {
    display: block;
    height: 425px;
    width: 100%;
    border-radius: 20px;
    margin-left: 70px;
    margin-right: -157px;
    object-fit: cover;
    object-position: center;
  }

  .image-overlay::after {
    margin-left: 0;
  }

  .intro-images {
    display: grid;
    grid-template-columns: minmax(215px, auto) minmax(445px, auto);
    height: 320px;
    gap: 30px;
    margin-right: 0;
    padding: 0 40px;
  }

  .intro-image-1 {
    display: block;
    width: 100%;
    height: 320px;
    border-radius: 20px;
    margin-left: 0;
    object-fit: cover;
    object-position: center;
  }

  .intro-image-2 {
    display: block;
    width: 100%;
    height: 320px;
    border-radius: 20px;
    object-position: center;
    object-position: cover;
  }

  .intro-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 0 40px;
    text-align: left;
    margin-top: 87px;
    margin-bottom: 157px;
  }

  .intro-text p {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    max-width: 398px;
  }

  #card-container {
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
  }

  footer {
    padding: 142px 0 43px 0;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
  }

  p {
    font-size: 18px;
  }

  .btn-primary,
  .btn-secondary {
    padding: 16px 26px;
  }

  .release {
    font-size: 16px;
  }

  .wrapper {
    overflow: unset;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
  }

  body {
    overflow-x: hidden;
  }

  header {
    padding: 55px 0 83px 0;
  }

  #hero-container {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-text {
    display: grid;
    gap: 32px;
    padding: 0 0;
    width: 455px;
    margin-left: 0;
  }

  .hero-row {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    margin-bottom: 64px;
  }

  .hero-image {
    display: block;
    height: 480px;
    width: 100%;
    border-radius: 20px;
    margin-left: 0;
    object-fit: cover;
    object-position: center;
    align-self: right;
  }

  #intro-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    margin-bottom: 168px;
  }

  .image-overlay::after {
    margin-left: 0;
  }

  .intro-images {
    display: grid;
    grid-template-columns: 255px 445px;
    height: 480px;
    gap: 30px;
    margin-right: 0;
    padding: 0;
  }

  .intro-image-1 {
    display: block;
    max-width: 255px;
    height: 480px;
    border-radius: 20px;
    margin-left: 0;
    object-fit: cover;
    object-position: center;
  }

  .intro-image-2 {
    display: block;
    max-width: 445px;
    height: 480px;
    border-radius: 20px;
    object-position: center;
    object-position: cover;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 255px;
    gap: 24px;
    padding: 0 0;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .grey-block-1 {
    display: block;
    height: 240px;
    width: 255px;
    background-color: #e8eff2;
    border-radius: 20px;
    position: absolute;
    left: -255px;
    top: 955px;
  }

  .grey-block-2 {
    display: block;
    height: 236px;
    width: 255px;
    background-color: #e8eff2;
    border-radius: 20px;
    position: absolute;
    right: -255px;
    top: 196px;
  }

  #card-container {
    padding: 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
  }

  footer {
    padding: 128px 0 40px 0;
  }

  footer p {
    font-size: 16px;
  }
}

/* @media (max-width: 1439px) {
  .grey-block-1,
  .grey-block-2 {
    display: none;
  }
} */
